:root {
  --bg-color: #0d1117;
  --white-color: #faf5ef;
}

button {
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 4px;
}

input {
  border-radius: 4px;
}

.sr-center {
  display: flex;
  justify-content: center;
}

header {
  margin-bottom: 16px;
}

div.popup,
dialog.login {
  /* glass effect */
  background: rgba(255, 255, 255, 0.76);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
dialog.login::backdrop {
  background-color: rgba(255, 255, 255, 0.6);
}
dialog.login .content {
  display: grid;
}
dialog.login .date-validation {
  color: tomato;
}
dialog.login .content div:not(:last-child) {
  margin-bottom: 8px;
}

.calendar-header {
  color: var(--white-color);
  text-align: center;
  font-size: 32px;
  display: block;
  margin-bottom: 12px;
}

fieldset legend {
  font-size: 20px;
}

details.info-and-settings-card {
  display: flex;
  min-width: 372px;
  max-width: 1360px;
  width: 100%;

  border: 2px solid var(--white-color);
  border-radius: 4px;
  padding: 2px;
  margin-bottom: 12px;
}
details.info-and-settings-card summary {
  color: var(--white-color);
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
}
details.info-and-settings-card[open] summary {
  border-bottom: 1px solid var(--white-color);
}

.info-and-settings-card__content > div {
  margin-top: 12px;
}

.calendar-person {
  color: var(--white-color);
}
.calendar-person__content > div {
  margin-bottom: 4px;
}

.user-file-data-changer {
  color: var(--white-color);
}
.user-file-data-changer__content div:not(:last-child) {
  margin-bottom: 8px;
}

.calendar-legend {
  color: var(--white-color);
}
.calendar-legend fieldset {
  display: flex;
  flex-direction: column;
}
.calendar-legend__content > div {
  display: flex;
  align-items: center;
}
.calendar-legend__content > div:not(:last-child) {
  margin-bottom: 4px;
}
.calendar-legend__row__description {
  margin-left: 6px;
}

.calendar-view {
  color: var(--white-color);
}
.calendar-view__content {
  display: flex;
}

.list {
  color: var(--white-color);
}
.list div > ul{
  margin: 0 0 0 -28px;
}
.list div > ul > li:not(:last-child){
  margin-bottom: 2px;
}

.calendar {
  display: flex;
  justify-content: center;

  user-select: none;
}
.calendar__wrapper {
  display: grid;
  grid-template-columns: repeat(15, min-content);
  width: min-content;
  margin-right: 12px;
}

.year {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(16, min-content);
  gap: 4px;

  margin-left: 12px;
  margin-bottom: 4px;
}
.year__header,
.year__week {
  width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 2px;
}
.year__header {
  color: var(--white-color);
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  text-align: center;
}
.year__week {
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  font-size: x-small;
  cursor: pointer;
}
.year__week.future {
  color: var(--white-color);
  background-color: var(--bg-color);
}
.year__week.before-birth {
  color: var(--white-color);
  background-color: gray;
  border-color: gray;
  pointer-events: none;
}
.year__week.selected {
  border-color: tomato;
}
.year__week.note.present {
  background-color: green;
}
.year__week.note {
  background-color: peru;
}
.year__week.present {
  background-color: yellowgreen;
}

div.popup {
  /* modal */
  position: absolute;
  display: none;

  color: var(--bg-color);
  font-size: 14px;
  font-family: monospace;
  border-radius: 4px;
  z-index: 1;
  min-width: 200px;
  max-width: 350px;
  min-height: 200px;
  max-height: 350px;
  outline: none;
}
div.popup.open {
  display: initial;
  animation: fade-in 0.3s;
}

div.popup.faded:not(.open) {
  display: initial;
  animation: fade-out 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.popup__content {
  height: 100%;
  padding: 3px;
}
.popup__content textarea {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px;
  min-width: 176px;
  min-height: 176px;
  max-width: 300px;
  max-height: 300px;
  border-radius: 4px;
}

body {
  background-color: var(--bg-color);
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}
